.days {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.content {
  display: flex;
  justify-content: center;
}

.table {
  table-layout: auto;
}

.day {
  height: 4.5vh;
  width: 4.5vh;
}

.week {
  padding-block: 1em;
}

.red {
  background-color: red;
  border-radius: 50%;
}